{% extends 'bootstrap/base.html' %}

{% block content %}
   <div class="container">
      {% if error is defined %}
         <div class="alert alert-danger" role="alert">
            The artist {{ error_artist }} already exists!
         </div>
      {% endif %}
      <h1 class="text-center">List of Ithaca Artists</h1>
      <div class="list-group">
         {% for artist in artists %}
            <a href="{{ url_for('artist', name=artist.name) }}" class="list-group-item list-group-item-action">{{ artist.name }}</a>
         {% endfor %}
      </div>
   </div>
{% endblock %}
